In [1]:
from pandas import np
from models.tabelas import TabelaFrequncia
def print_info_tb_freq(tb:TabelaFrequncia):
    print(f"Numero de classes: {tb.numero_classes}")
    print(f"Intervalo das classes: {tb.intervalo_classes}")
    print(f"Amplitude: {tb.At}")
    print(f"Excesso: {tb.excesso}")
    print(f'Primeiro elemento: {tb.colecao.min()}')
    print(f'Ultimo elemento: {tb.colecao.max()}')

<ipython-input-1-6717f0962359>:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  from pandas import np

### Criando Tabela de  frequêcia atraves de um listagem de idades

In [2]:
sequencia_numerica = """39 43 45 50 50 53 54 55 58 59 61 61 63 63 63 64 66 68 68 68 68 68 70 71 72 72 73 73 73 74 75 75 75 75 75 76 77 77 78 78 78 79 80 81 81 82 82 82 83 84 84 84 86 88 90 91 95 96 99 106""".split(' ')
tb_seq_num = TabelaFrequncia(np.array(sequencia_numerica,dtype=np.int))
print_info_tb_freq(tb_seq_num)
tb_seq_num.cria_frequencia_relativa()

Numero de classes: 8
Intervalo das classes: 9
Amplitude: 67
Excesso: 5
Primeiro elemento: 39
Ultimo elemento: 106

            Frequencia  Frequencia Relatativa
[37, 46)             3                   5.00
[46, 55)             4                   6.67
[55, 64)             8                  13.33
[64, 73)            11                  18.33
[73, 82)            19                  31.67
[82, 91)            10                  16.67
[91, 100)            4                   6.67
[100, 109)           1                   1.67

### Criando Tabela de  frequêcia atraves de lista de gasto de energia

In [3]:
consumo_energia = """60 62 65 65 66 68 70 70 72 73 74 74 74 75 76 77 77 77 80 80 81 81 81 81 83 85 86 86 86 87 87 88 89 89 89 89 89 90 90 91 91 91 91 91 93 93 95 96 96 98 98 100 101 101 102 103 103 105 107 108 110 111 113""".split(" ")
tb_consumo_energia = TabelaFrequncia(np.array(consumo_energia,dtype=np.int))
print_info_tb_freq(tb_consumo_energia)
print(tb_consumo_energia.colecao[tb_consumo_energia.colecao <68])
tb_consumo_energia.cria_tabelaFrequencia()

Numero de classes: 8
Intervalo das classes: 7
Amplitude: 53
Excesso: 3
Primeiro elemento: 60
Ultimo elemento: 113
[60 62 65 65 66]

            Frequencia
[59, 66)             4
[66, 73)             5
[73, 80)             9
[80, 87)            11
[87, 94)            17
[94, 101)            6
[101, 108)           7
[108, 115)           4
Total               63

In [4]:

nivel_ruido = """53 55 73 75 80 81 93 95 118 120 58 60 76 76 81 83 95 97 121 121 60 62 76 78 83 84 98 98 124 126 65 66 68 68 68 69 70 70 72 73 78 78 78 79 80 80 80 80 80 80 84 84 85 85 86 86 86 88 90 93 100 106 106 107 109 109 112 115 116 116""".split(" ")
tb_nivel_ruido = TabelaFrequncia(np.array(nivel_ruido,dtype=np.int))
print_info_tb_freq(tb_nivel_ruido)
print(tb_nivel_ruido.colecao[tb_nivel_ruido.colecao < 60])
tb_nivel_ruido.cria_tabelaFrequencia()

Numero de classes: 8
Intervalo das classes: 10
Amplitude: 73
Excesso: 7
Primeiro elemento: 53
Ultimo elemento: 126
[53 55 58]

            Frequencia
[51, 61)             5
[61, 71)             9
[71, 81)            19
[81, 91)            14
[91, 101)            8
[101, 111)           5
[111, 121)           6
[121, 131)           4
Total               70

In [5]:
pecas_com_defeitos = """40 44 47 48 50 53 53 56 58 59 61 61 63 63 63 64 64 65 66 67 68 69 69 71 71 71 71 71 72 72 73 73 74 74 74 74 74 75 75 75 76 77 77 77 77 77 78 78 80 81 82 86 88 89 91 95 99 102 107 112""".split(" ")
tb_pecas_defeito = TabelaFrequncia(np.array(pecas_com_defeitos,dtype=np.int))
print_info_tb_freq(tb_pecas_defeito)
tb_pecas_defeito.cria_tabelaFrequencia()

Numero de classes: 8
Intervalo das classes: 9
Amplitude: 72
Excesso: 0
Primeiro elemento: 40
Ultimo elemento: 112

            Frequencia
[40, 49)             4
[49, 58)             4
[58, 67)            11
[67, 76)            21
[76, 85)            11
[85, 94)             4
[94, 103)            3
[103, 112)           1
Total               59