In [1]:
import numpy as np
import pandas as pd
import math

In [2]:
sequencia_numerica = """39 43 45 50 50 53 54 55 58 59 61 61 63 63 63 64 66 68 68 68 68 68 70 71 72 72 73 73 73 74 75 75 75 75 75 76 77 77 78 78 78 79 80 81 81 82 82 82 83 84 84 84 86 88 90 91 95 96 99 106""".split(' ')

['39',
 '43',
 '45',
 '50',
 '50',
 '53',
 '54',
 '55',
 '58',
 '59',
 '61',
 '61',
 '63',
 '63',
 '63',
 '64',
 '66',
 '68',
 '68',
 '68',
 '68',
 '68',
 '70',
 '71',
 '72',
 '72',
 '73',
 '73',
 '73',
 '74',
 '75',
 '75',
 '75',
 '75',
 '75',
 '76',
 '77',
 '77',
 '78',
 '78',
 '78',
 '79',
 '80',
 '81',
 '81',
 '82',
 '82',
 '82',
 '83',
 '84',
 '84',
 '84',
 '86',
 '88',
 '90',
 '91',
 '95',
 '96',
 '99',
 '106']

In [19]:
colecao  = np.array(sequencia_numerica,dtype=np.int)
colecao = np.sort(colecao)

In [6]:
k = round(math.sqrt(colecao.shape[0]))
k

8

In [7]:
At = colecao.max() - colecao.min()
At

67

In [8]:
i = math.ceil(At/k)
i

9

In [9]:
excesso = k * i - At
excesso

5

In [10]:
intervalo_index = pd.interval_range(start=colecao.min() - math.ceil(excesso * 0.25),end=(excesso -  math.ceil(excesso * 0.25)) + colecao.max() ,freq=9, closed='left' )
intervalo_index

IntervalIndex([[37, 46), [46, 55), [55, 64), [64, 73), [73, 82), [82, 91), [91, 100), [100, 109)],
              closed='left',
              dtype='interval[int64]')

In [18]:
intervalo_index.values[0]

'left'

In [30]:
conputacao_valores = []
for intervalo in intervalo_index.values:
   conputacao_valores.append(colecao[(colecao >= intervalo.left) & (colecao < intervalo.right)].shape[0])

In [36]:
df = pd.DataFrame(data=conputacao_valores,index=intervalo_index,columns=['Frequencia'])

            Frequencia
[37, 46)             3
[46, 55)             4
[55, 64)             8
[64, 73)            11
[73, 82)            19
[82, 91)            10
[91, 100)            4
[100, 109)           1

In [41]:
df.index.name = 'Classe'

In [48]:
df.append(pd.DataFrame(data=[df['Frequencia'].sum()],index=['Total'],columns=df.columns))

            Frequencia
[37, 46)             3
[46, 55)             4
[55, 64)             8
[64, 73)            11
[73, 82)            19
[82, 91)            10
[91, 100)            4
[100, 109)           1
Total               60