In [1]:
import numpy as np

In [51]:
from models.tableas import cria_tabelaFrequencia
sequencia_numerica = """39 43 45 50 50 53 54 55 58 59 61 61 63 63 63 64 66 68 68 68 68 68 70 71 72 72 73 73 73 74 75 75 75 75 75 76 77 77 78 78 78 79 80 81 81 82 82 82 83 84 84 84 86 88 90 91 95 96 99 106""".split(' ')

In [52]:

cria_tabelaFrequencia(np.array(sequencia_numerica,dtype=np.int))

            Frequencia
[37, 46)             3
[46, 55)             4
[55, 64)             8
[64, 73)            11
[73, 82)            19
[82, 91)            10
[91, 100)            4
[100, 109)           1
Total               60

8